page-expense-type-modal {

  .modal-page {
    padding: 30px;
    background: rgba(0,0,0,0.5);
    //min-height: 500px;
  }

  .formModal {
    //margin: 5px !important;
    background-color: white !important;
    padding: 5px;
    min-height: 480px;
  }

  .mc {
    background: white !important;
  }

  ion-item ion-label {
    color: #03a9f4 !important;
  }

}
