page-get-started {
  background-color: #0081FF !important;
  ion-content{
    background-color: transparent !important;
  }

  ion-item {
    margin: auto;
    background-color: transparent !important;
  }

  h3 {
    color: white;
    font-size: 16px !important;
  }

  h2 {
    font-size: 14px !important;
  }

  button {
    border-radius: 5px !important;
  }



}
