page-phone-number-modal {

    .modal-page {
      padding: 10px;
      background: rgba(0,0,0,0.5);
    }

    .formModal {
      //margin: 5px !important;
      background-color: white !important;
      padding: 5px;
      min-height: 250px;
    }

    .mc {
      background: white !important;
    }

    ion-item ion-label {
      color: #0081FF !important;
    }


}
