page-waiting {

  ion-content {
    color: #8f8f8f;
  }

  .center {
    position:absolute;
    left: 0;
    right: 0;
    margin:0 auto;
    top:50%;
    transform:translateY(-50%);
    text-align: center;
    color: #8f8f8f;
  }

}
